{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <p class="about_game"><a href="{{ url_for('about') }}">Об игре</a></p>
        <p class="start_game"><a href="{{ url_for('games') }}">Играть</a></p>
    </div>
{% endblock content %}

{% block script %}
{{ super() }}
<script>
    // {% with messages = get_flashed_messages() %}
    //     {% if messages %}
    //         {% for message in messages %}
                alert('{{ message }}');
    //         {% endfor %}
    //     {% endif %}
    // {% endwith %}
</script>
{% endblock script %}